@{

Layout
=

"~/Views/Shared/_LayoutAdmin.cshtml"
;

ViewData
[
"Title"
]

=

"Login"
;

}

@model TccEcomerce.Models.LoginViewModel

<body>
  <div class="container">
    <div class="left-panel">
      <h2>Seja bem vindo</h2>
      <p>Entre na sua conta ou cadastre-se</p>
    </div>

    <div class="right-panel">
      <h3>Olá</h3>
      <p><strong>Acesse </strong>sua conta</p>

      <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>

        <input asp-for="Email" type="email" placeholder="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>

        <input asp-for="Password" type="password" placeholder="Senha" required>
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="options">
          <label><input asp-for="RememberMe" type="checkbox"> Lembre-se</label>
          <a asp-controller="Account" asp-action="ForgotPassword">Esqueceu sua senha?</a>
        </div>

        <button type="submit">Entrar</button>

        <div class="create-account">
          <a asp-controller="Account" asp-action="Register">Criar conta</a>
        </div>
      </form>
    </div>
  </div>
</body>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}