@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}~

<h1>Admin</h1>

<div>
    <a asp-asp-controller="Admin" asp-action="AddProduct">Adicionar Produto</a>
    <a asp-asp-controller="Admin" asp-action="ListProducts">Gerenciar Produtos</a>
</div>