<h3>Meus Pedidos</h3> <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Produto</th>
              <th scope="col">Valor</th>
              <th scope="col">Data da compra</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>TV</td>
              <td>R$ 1.500,00</td>
              <td>11/11/1111</td>
              <td>
                <button type="button" class="btn btn-outline-primary">Detalhes</button>
                <button type="button" class="btn btn-outline-warning">Editar</button>
                <button type="button" class="btn btn-outline-danger">excluir</button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>PS5</td>
              <td>R$ 2.500,00</td>
              <td>22/22/2222</td>
              <td>
                <button type="button" class="btn btn-outline-primary">Detalhes</button>
                <button type="button" class="btn btn-outline-warning">Editar</button>
                <button type="button" class="btn btn-outline-danger">excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </header>
    </div>