<h2>Lista de produtos</h2> <br>
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Nome do produto</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ Preço<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Descrição</li>
                  <li class="text-danger">Quantdade diponiveis 10 unidades</li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">Comprar</button>
                <button type="button" class="w-49 btn btn-lg btn-outline-secondary">Ver produto</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Nome do produto</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ Preço<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Descrição</li>
                  <li class="text-danger">Quantdade diponiveis 10 unidades</li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">Comprar</button>
                <button type="button" class="w-49 btn btn-lg btn-outline-secondary">Ver produto</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Nome do produto</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ Preço<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Descrição</li>
                  <li class="text-danger">Quantdade diponiveis 10 unidades</li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">Comprar</button>
                <button type="button" class="w-49 btn btn-lg btn-outline-secondary">Ver produto</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Nome do produto</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ Preço<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Descrição</li>
                  <li class="text-danger">Quantdade diponiveis 10 unidades</li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">Comprar</button>
                <button type="button" class="w-49 btn btn-lg btn-outline-secondary">Ver produto</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Nome do produto</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ Preço<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Descrição</li>
                  <li class="text-danger">Quantdade diponiveis 10 unidades</li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">Comprar</button>
                <button type="button" class="w-49 btn btn-lg btn-outline-secondary">Ver produto</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Nome do produto</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ Preço<small class="text-muted fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Descrição</li>
                  <li class="text-danger">Quantdade diponiveis 10 unidades</li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">Comprar</button>
                <button type="button" class="w-49 btn btn-lg btn-outline-secondary">Ver produto</button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>