<form class="row g-3" style="background-color: white; border-radius: 15px;">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nome</label>
        <input type="text" class="form-control">
    </div>

    <div class="col-md-6">
        <label for="inputCity" class="form-label">Telefone</label>
        <input type="tel" class="form-control" id="inputCity">
    </div>
    
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Email</label>
        <input type="email" class="form-control">
    </div>

    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>

    <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirme a senha</label>
    <input type="password" class="form-control" id="inputPassword4">
    </div>
    
    <div class="col-12  text-end" >
        <button type="submit" class="btn btn-outline-primary">Novo usuário</button>
    </div>
</form>