@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="container">
        <div class="left-panel">
            <h2>Olá, Crie sua conta<h2>
        </div>

        <div class="right-panel">
            <h4><span class="highlight">Criar conta</span></h4>
            <form>
                <input type="text" placeholder="Nome" required />
                <input type="tel" placeholder="Telefone" required />
                <input type="email" placeholder="Email" required />
                <input type="password" placeholder="Senha" required />
                <input type="password" placeholder="Conirme a senha" required />

                <button type="submit">Nova conta</button>

                <div class="login-link">
                    <p>Ja possui uma conta? <a asp-controller="forms" asp-action="Login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>