<form class="col-6 mb-4" style="background-color: white; border-radius: 15px;">

        <div class="row" style="margin: 20px;">
            <div class="col-12">
                <label for="inputEmail1" class="form-label">Nome</label>
                <input type="email" class="form-control">
            </div>
        </div>

        <div class="row mt-3" style="margin: 20px;">
            <div class="col-md-9">
                <label for="inputNome" class="form-label">Preço</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="inputTelefone" class="form-label">Estoque</label>
                <input type="number" class="form-control">
            </div>
        </div>

        <div class="row mt-3" style="margin: 20px;">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>

        <div class="row" style="margin: 20px;">
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-outline-primary">Novo produto</button>
            </div>
        </div>
 
</form>